
.glob{
background-color: rgb(48, 48, 196);
}



.bab{
background-color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding: 20px;
margin: 80px;
color: #333;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}


.glab{
    background-color: rgb(244, 129, 53);
    }

.gleb{
    background-color: rgb(48, 212, 42);
}

.thumbnail { 
    top:-50px; 
    left:-35px; 
    display:block; 
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
    } 
    
    /*change the number below to scale to the appropriate size*/ 
    .thumbnail:hover { 
    transform: scale(1.5);
    }

    .img {
        --color: #8A9B0F; /* the border color */
        --border: 10px;   /* the border thickness*/
        --offset: 20px;   /* control the offset*/
        --gap: 5px;       /* the gap on hover */
        
        --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),var(--color) 0;
        --_o: calc(3*var(--offset));
        padding: 
          calc(var(--gap) + var(--border))
          calc(var(--gap) + var(--border) + var(--offset))
          calc(var(--gap) + var(--border) + var(--offset))
          calc(var(--gap) + var(--border));
        background: 
          linear-gradient(      var(--_c)) var(--_o) var(--_o), 
          linear-gradient(90deg,var(--_c)) var(--_o) var(--_o);
        background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
        background-repeat: no-repeat;
        filter: grayscale(.4);
        transition: .5s;
        cursor: pointer;
      }
      .img:hover {
        background-position: 0px 0px;
        background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
        filter: grayscale(0);
      }
      
